<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<section class="thumbnails">
		<div data-ng-controller="cartCtrl">
		

			<table style="width: 100%">
				<tr>
					<th></th>
					<th>Product</th>
					<th>Aantal</th>
					<th>Prijs</th>
					<th></th>
				</tr>
				<tr data-ng-repeat="x in Products">
					<td><img src="{{x.picture}}"
						style="width: 100px; height: 100px;" alt=""></td>
					<td>{{x.name}}</td>
					<td>
						<form name="myForm" data-ng-controller="numberInputCtrl" action="">
							<label>Aantal: <input type="number" name="input"
								data-ng-model="x.amount" ng-change="{{totalPrice()}}" required>
							</label>
							<div role="alert">
								<span class="error" data-ng-show="myForm.input.$error.pattern">
									Not a valid number!</span>
							</div>

						</form>
					</td>
					<td>{{costs(x) | currency:'$'}}</td>
					<td><button data-ng-click="deleteProduct(x)">Verwijderen</button></td>
				</tr>
			</table>
			<p>Totaal bedrag: {{totalPrice() | currency:'$'}}</p>



		</div>


	</section>


</body>
</html>